div[class^="grid"] {
    border: 1px solid black;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
}

.grid-1 {
    background-color: blue;
}
.grid-2 {
    background-color: green;
}
.grid-3 {
    background-color: greenyellow;
}
.grid-4 {
    background-color: blueviolet;
}
.grid-5 {
    background-color: lawngreen;
}
.grid-6 {
    background-color: black;
}

